@import "bootstrap";

body {
  h1 {
    font-weight: bold;
  }
  .hover-span:hover {
    cursor: pointer;
  }
}

.btn-form {
  background-color: hsl(54, 100%, 50%);
  font-weight: 700;
}

.btn-new {
  background-color: hsl(54, 100%, 50%);
  color: hsl(255, 100%, 100%);
}

.event-list {
  background-color: hsl(219, 100%, 30%);
}

.navbar-image img{
  width: 400px !important;
  height: auto !important;
}
.navbar-brand {
  width: 400px !important; /* Adjust the width as needed */
  height: auto !important; /* Maintain the aspect ratio */
}
