name: AI Code Reviewer

on:
  pull_request:
    types:
      - opened
      - synchronize
permissions: write-all
jobs:
  review:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Repo
        uses: actions/checkout@v3

      - name: AI Code Reviewer
        uses: your-username/ai-code-reviewer@main
        with:
          GITHUB_TOKEN: ${{ secrets.BCMAY23_TOKEN }}
          OPENAI_API_KEY: ${{ secrets.BCMAY23_OPENAI_KEY }}
          exclude: "**/*.json, **/*.md" # Optional: exclude patterns separated by commas
